# IDA packed database
*.i64

# DDrawCompat files
ddraw.dll
ddraw.log

# Backups
nppBackup
Menu106.rc
PIKLIB8_orig.dll
ReksioPiraci_orig.exe
ReksioPiraci_original.exe
ReksioPiraci.exe*.bak

# Helpful items, but not part of the game itself
other

# Game debug files
ARIAL14.FNT
